{% extends 'actividades/base.html' %}

{% block css %}
    <link
        rel="stylesheet"
        href="{{url_for('static', filename='css/actividades.css')}}"
    />
{% endblock %}

{% block content %}
    <h2 style="margin-left: 1%;">Bienvenido al portal de actividades!</h2>
    <div class="act-list">
        {% if data %}
            {% for act in data %}
                <div class="act-container">
                    <p>{{act.comuna}}, </p>
                    <p>{{act.sector}}, </p>
                    <p>{{act.nombre}}, </p>
                    <p>{{act.email}}, </p>
                    <p>{{act.celular}}, </p>
                    <p>{{act.dia_hora_inicio}}, </p>
                    <p>{{act.dia_hora_termino}}, </p>
                    <p>{{act.descripcion}}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
